body{

margin:0;
font-family:Arial;
background:black;
color:white;

}

/* LOADER */

#loader{

position:fixed;
width:100%;
height:100%;
background:black;
display:flex;
justify-content:center;
align-items:center;
z-index:9999;

}

.spinner{

border:4px solid #333;
border-top:4px solid #00ff88;
border-radius:50%;
width:50px;
height:50px;

animation:spin 1s linear infinite;

}

@keyframes spin{

100%{

transform:rotate(360deg);

}

}

/* HEADER */

.header{

display:flex;
justify-content:space-between;
padding:20px;
background:black;
position:fixed;
width:100%;

}

.menu-toggle{

font-size:25px;
cursor:pointer;
display:none;

}

.nav{

display:flex;
gap:20px;

}

.nav a{

color:white;
text-decoration:none;

}

/* HERO */

.hero{

height:100vh;

display:flex;
flex-direction:column;

justify-content:center;
align-items:center;

}

/* BUTTON */

.btn{

background:#00ff88;
padding:15px 30px;
color:black;
text-decoration:none;

}

/* SECTION */

.section{

padding:100px 20px;

}

/* GALERIA */

.gallery{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:20px;

}

.gallery img{

width:100%;
border-radius:10px;

}

/* ANIMAÇÕES */

.reveal{

opacity:0;

transform:translateY(40px);

transition:1s;

}

.reveal.active{

opacity:1;

transform:translateY(0);

}

/* MOBILE */

@media(max-width:768px){

.menu-toggle{

display:block;

}

.nav{

display:none;

flex-direction:column;

background:black;

position:absolute;

top:60px;
right:0;

padding:20px;

}

.nav.active{

display:flex;

}

}
